.footer{
    background-color:rgb(25, 118, 210,1);;
    width: 100%;
    height: auto;
}
.footer .footer-item{
    width: auto;
    height:40px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  

}
.footer-icon{
    height: 30px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.copyright{
    color: #f0f0f0;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 10px
}